*{
    box-sizing: border-box;
}


body{
     background: url('sand.jpg') repeat center center scroll;
}

.header-text {
    color: white;
    text-shadow: 0 0 12px #000000;
}

.image-bg-header {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background: url('pic.jpeg') no-repeat center center scroll;
    height: 300px;
}


#threeitems{

background-color : rgba(255, 255, 255, 0.5);


margin-top: 0.1rem;
margin-bottom:0.1rem;
    
}